@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
	--barlow: "Barlow", sans-serif;
	--fraunces: "Fraunces", serif;
}
html {
  scroll-behavior: smooth;
}
/* ancho maximo del sitio */
.max-w{
	max-width: 1440px;
	margin: 0 auto;
}
body {
	font-family: var(--barlow);
	background-color: #3ebfff;
}

/********************************************
** HOME
**********************************************/

.home {
	background: #3ebfff url(../images/mobile/image-header.jpg) no-repeat center;
	background-size: cover;
  min-height: 100vh;
	position: relative;
}

/****** header home ********/
.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
	padding: 0 2rem;
}
/* ocultar uno de los nav en vista mobile */
.nav-header-desktop{
	display: none;
}

/************ NAV MOBILE *******/
.nav-header-mobile{
  position: absolute;
  width: 80%;
  margin: 0 auto;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: hsl(0, 0%, 98%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 3rem 0;
}
.nav-header-mobile::before{
  content: "";
  position: absolute;
  background-color: hsl(0, 0%, 98%);
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  transform: skewY(-50deg) scale(1); 
}
.burger{
  background: none;
  border: none;
}
.burger img{
  cursor: pointer;
}

/* Esta clase se agrega con JS al presionar el boton burger */
.show{
	display: flex!important;
}

/* Boton agregado para simular el cierre del menu de navegacion */
.close{
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1000;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
}

/* Links */
.nav-header a {
  color: hsl(232, 10%, 55%);
	text-decoration: none;
}
.nav-header a:hover {
  color: hsl(212, 27%, 19%);
}
.nav-header a:last-child {
  border-radius: 25px;
	background-color: hsla(51, 100%, 49%);
	color: hsl(212, 27%, 19%);
  font-size: .9rem;
	padding: 0.7rem 1.2rem;
	font-family: var(--fraunces);
	text-transform: uppercase;
}
.nav-header a:last-child:hover {
	background-color: hsla(51, 100%, 49%, 0.5);
	color: #000;
}

.titulo {
	text-align: center;
	padding: 1rem;
	color: #fff;
	font: 2.7rem var(--fraunces);
	text-transform: uppercase;
	position: absolute;
	top: 35vh;
	transform: translateY(-50%);
	width: 100%;
}
.flecha {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.flecha:hover {
	animation: bounce 1s ease infinite ;
}
@keyframes bounce {
	80%{bottom: 18%;}
}

/* contenedor principal con display flex en mobile y desplay grid en desktop */
main.container {
	background-color: #fffbf8;
	display: flex;
	flex-direction: column;
}
.hijo-texto {
	padding: 1.5rem;
	text-align: center;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hijo-texto h2 {
	font: 2rem var(--fraunces);
	margin-bottom: 1.5rem;
}
.hijo-texto p {
	font: 1rem var(--barlow);
	color: hsl(232, 10%, 55%);
	line-height: 1.5;
}
.hijo-texto a{
  color: #000;
  margin-top: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
  font: 1rem var(--fraunces);
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.hijo-texto a::before{
  content: "";
  background: hsla(51, 100%, 49%, 0.5);
  position: absolute;
  width: 100%;
  transform: scaleX(1.1);
  border-radius: 10px;
  height: 6px;
  bottom: 4%;
  z-index: -1;
}
.hijo-texto a:hover::before{
  background: hsla(51, 100%, 49%);
}
.servicio2 a::before{
  background: hsl(7, 99%, 70%, .5);
}
.servicio2 a:hover::before{
  background: hsl(7, 99%, 70%);
}
.servicios {
	height: 560px;
	position: relative;
}
.servicios h3{
  font: 1.8rem var(--fraunces);
  margin-bottom: 1rem;
}
.d-grafico {
	background: url(../images/mobile/image-graphic-design.jpg) no-repeat top
		center/cover;
  color: hsl(167, 40%, 24%);
}
.fotografia {
	background: url(../images/mobile/image-photography.jpg) no-repeat top
		center/cover;
    color: hsl(198, 62%, 26%);
}
.texto {
	padding: 1.5rem;
	width: 100%;
	text-align: center;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translateX(-50%);
}

/*********************************
******** testimonios
***********************************/

.testimonios {
	padding: 1rem;
	background-color: hsl(0, 0%, 98%);
}
.testimonios h2 {
	text-align: center;
	font: 1.5rem var(--fraunces);
	margin: 1.5rem auto;
	color: hsl(210, 4%, 67%);
}
.testimonios .flex-container {
	display: flex;
	flex-wrap: wrap;
}
.testimonios-hijo {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 300px;
	margin: 0 auto 2rem;
}
.testimonios-hijo img{
	border-radius: 50%;
	width: 25vw;
	max-width: 100px;
}
.testimonios-hijo p {
	text-align: center;
	margin: 1.5rem 0;
	color: hsl(213, 9%, 39%);
}
.testimonios-hijo div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.testimonios-hijo .cliente {
	font: 1rem var(--fraunces);
	line-height: 2;
	color: hsl(212, 27%, 19%);
}
.testimonios-hijo .cliente-trabajo {
	font: 0.8rem var(--barlow);
	color: hsl(210, 4%, 67%);
}

/* imagenes previas al  footer */

.imagenes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 55vw);
}

/***********************************
* Footer
***********************************/
footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 1.5rem;
	background: #90d4c5;
  position: relative;
  width: 100%;
	height: 300px;
}
.logo-footer {
	width: 200px;
	position: relative;
	margin-bottom: 1rem;
}
.logo-footer img {
	width: 100%;
}

/* nav footer */
.nav-footer {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-around;
}
.nav-footer a {
	margin: 0.5rem;
	text-decoration: none;
	color: hsl(168, 34%, 41%);
}
.nav-footer a:hover {
	color: #fff;
}
.redes-sociales {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}
/* para cambiarles el color a los iconos svg */
.logo-footer img{
  filter: invert(27%) sepia(51%) saturate(1578%) hue-rotate(115deg) brightness(50%) contrast(60%);
}
.redes-sociales a:hover {
  filter: saturate(100%) hue-rotate(0deg) brightness(1000%) contrast(97%);
}
.attribution {
	font-size: 11px;
	text-align: center;
  position: absolute;
  bottom: 5px;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
.attribution a:hover {
	color: hsl(228, 45%, 70%);
}


/************************ Tablet ***********************/
@media (min-width: 376px) {
  .titulo {
    font-size: 3.8rem;
  }

	/* cambiar la altura del header */
	.main-header{
		height: 100px;
	}
	.nav-header-desktop a:not(:last-child){
		color: hsl(0, 0%, 98%);
	}
	.nav-header-desktop a:not(:last-child):hover{
		color: hsl(0, 0%, 80%);
	}
	.nav-header-desktop a:last-child{
		background-color: hsl(0, 0%, 98%);
		color: hsl(212, 27%, 19%);
	}
	.nav-header-desktop a:last-child:hover{
		background-color: hsl(0, 0%, 98%, .3);
		color: hsl(0, 0%, 98%);
	}

	/****************** MAIN *********************/
	.grid-hijo img{
		width: 100%;
	}
	.hijo-texto{
		padding: 2rem 12vw;
		height: 450px;
	}
	.d-grafico {
		background: url(../images/desktop/image-graphic-design.jpg) no-repeat top
			center/cover;
		color: hsl(167, 40%, 24%);
	}
	.fotografia {
		background: url(../images/desktop/image-photography.jpg) no-repeat top
			center/cover;
			color: hsl(198, 62%, 26%);
	}
	.servicios .texto{
		padding: 1.5rem 12vw;
	}
	.testimonios h2{
		margin: 3rem auto 2rem;
	}
	/**************** Footer ******************/
	.nav-footer{
		justify-content: center;
		gap: 2rem;
	}
} 


/******************** Desktop *********************/
@media (min-width: 769px) {
	.home {
		background: #3ebfff url(../images/desktop/image-header.jpg) no-repeat center;
		background-size: cover;
	}
	.only-mobile{
		display: none;
	}
	.nav-header-desktop{
		display: flex;
		align-items: center;
		gap: 2rem;
		line-height: 1.5;
	}
	.titulo{
		font-size: 4.5rem;
	}

	/*********** MAIN *********/
	main.container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	/* cambiar el orden de las imagenes y el texto */
	.servicio1{
		grid-area: 1 / 1 / span 1 / span 1;
	}
	.servicio2{
		grid-area: 2 / 2 / span 1 / span 1;
	}
	.hijo-texto{
		height: auto;
		padding: 1rem;
	}
	.servicios .texto{
		padding: 1.5rem;
	}

	/* testimonios ocupa las 2 columnas */
	.testimonios{
		grid-column: 1 / span 2;
		padding: 12vh 0;
		
	}

	/* imagenes previas al footer */
	.imagenes{
		/* shorthand for: grid template rows / grid template columns */
		grid-template: auto / repeat(4, 1fr);
	}
	.imagenes img{
		width: 100%;
		height: auto;
	}
}